*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.center{
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
}

html,body{
    height: 100%;
    overflow-y: hidden;
    overflow-x:hidden;
}

header{
    height: 200px;
    padding: 20px 0;
}

.menu{
    padding-top: 30px;
    width: 50%;
    text-align: right;
}

.menu a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;
}

section.sobre{
    height: calc(98% - 200px);
    position: relative;  
}

.extras{
    image-rendering: auto;
    position: absolute;
    bottom: -100px;
    right: -100px;
    width: 600px;
    height: 600px;
    border-radius: 100%;
    background-color: #f64a8a;
}

.extras img{
    display:flex;
    width: 600px ;
    margin: 100px 0;
}
.social-media{
    position:absolute;
    left: 450px;
    top: 50px;
}

.social-media img{
    display: block;
    width: 40px;
    margin: 10px 0;
}

.texto-sobre{
    margin-top: 100px;   
}

.texto-sobre h1{
    font-size: 50px;
}

.texto-sobre p {
    margin: 20px 0;
    color: black;
    font-size: 14px;
    font-weight: bold;
    max-width: 700px;
}

.texto-sobre button{
    border: 0;
    background-color: #f64a8a ;
    color: azure;
    border-radius: 10px;
    width: 50px;
    height: 30px;
    cursor: pointer;
}
